* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: black;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.messages {
  flex: 1 0 auto;
}
.footer {
  display: flex;
  flex: 0 0 auto;
  height: 30px;
  gap: 5px;
}

.footer input {
  flex: 1 0 auto;
  padding: 5px;
}

.footer button {
  padding: 5px;
  background-color: rgb(202, 168, 235);
  font-weight: bold;
}
